html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #050505;
  font-family: system-ui, sans-serif;
}

#hud {
  position: fixed;
  top: 12px;
  left: 12px;
  color: white;
  font-weight: 800;
  font-size: 18px;
  z-index: 5;
}

#mouse {
  position: fixed;
  font-size: 64px;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 8px 14px rgba(0,0,0,.7));
}

/* Rond blanc (curseur) */
#hold-circle {
  position: fixed;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.08s;
  z-index: 20;
}

#hold-circle.active {
  opacity: 1;
}
